TD1/nodeRed.json
[
    {
        "id": "b6a61017a64fa2e9",
        "type": "json",
        "z": "c599841496e8f323",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "72834f29f86d7873",
                "ce5dc2522f63c345",
                "d399d94152bdea70",
                "9794e76554affed5",
                "487bfc292acfcb45",
                "8f0f76bd31d8dba8",
                "4ffcb2985a080a4c",
                "fe50d97306b61f10",
                "dc614ea00c8a4275",
                "054512d2f5698479",
                "d0845f26dd0fac8b",
                "c40c7cbbc28ae858",
                "4756dd189f88a7c0",
                "0160c8207a1a151f",
                "2659f72e96e4ca13",
                "69cd750f904ca39e",
                "67e39083f56fa2ea",
                "c10fa251edf1394a",
                "236d4eead669b2ca",
                "59c6197c270cd93e",
                "c879616069afa7c2",
                "f59447dae0ec4971",
                "a8c65bccc85c5b65",
                "eab1b5edbf39feb2",
                "419e43245ee3bbb3",
                "8eee11bf45b63c92",
                "5859d8704d745b1a",
                "7fb4afaab849f624"
            ]
        ]
    },
    {
        "id": "41c3780fe387326d",
        "type": "serial in",
        "z": "c599841496e8f323",
        "name": "",
        "serial": "bf41b56857b86ce2",
        "x": 60,
        "y": 280,
        "wires": [
            [
                "b6a61017a64fa2e9"
            ]
        ]
    },
    {
        "id": "72834f29f86d7873",
        "type": "ui_gauge",
        "z": "c599841496e8f323",
        "name": "",
        "group": "9bdad9c3cef85455",
        "width": "",
        "height": "",
        "gtype": "gage",
        "title": "Intensité lumineuse",
        "label": "Lux",
        "format": "{{msg.payload.status.light}}",
        "min": "0",
        "max": "4096",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "7fb4afaab849f624",
        "type": "ui_gauge",
        "z": "c599841496e8f323",
        "name": "",
        "group": "8bbcfa341ae69018",
        "width": "",
        "height": "",
        "gtype": "donut",
        "title": "Vitesse du ventilateur",
        "label": "RPM",
        "format": "{{msg.payload.status.fanspeed}}",
        "min": "0",
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 120,
        "wires": []
    },
    {
        "id": "9794e76554affed5",
        "type": "ui_gauge",
        "z": "c599841496e8f323",
        "name": "Température",
        "group": "f84cf843c9835253",
        "width": "",
        "height": "",
        "gtype": "wave",
        "title": "Température",
        "label": "°C",
        "format": "{{msg.payload.status.temperature}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "temp",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "ce5dc2522f63c345",
        "type": "ui_chart",
        "z": "c599841496e8f323",
        "name": "Graphique Température",
        "group": "f84cf843c9835253",
        "width": "",
        "height": "",
        "label": "Température",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "En attente de données...",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "60",
        "removeOlderPoints": "60",
        "removeOlderUnit": "1",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f5dd0fee77137ab4",
        "type": "ui_template",
        "z": "c599841496e8f323",
        "group": "dashboard_status",
        "name": "Custom Theme",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n  body { background-color: grey !important; h1-color: black !important; }\n  .nr-dashboard-theme md-card { background-color: white!important; }\n  .nr-dashboard-theme md-toolbar { background-color: #cbcbcb !important; }\n  .nr-dashboard-theme .nr-dashboard-cardtitle { color: white !important; }\n  .nr-dashboard-theme Temp { background-color: #cbcbcb !important;}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 290,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d399d94152bdea70",
        "type": "ui_template",
        "z": "c599841496e8f323",
        "group": "d6289712d0c7f988",
        "name": "Multi LED Display",
        "width": "",
        "height": "",
        "format": "<div style='text-align:center;'>\n    <h1> Affichage LEDS </h1>\n    <span style='color: {{msg.payload.red}}; font-size: 50px;'>🔴</span>\n    <span style='color: {{msg.payload.green}}; font-size: 50px;'>🟢</span>\n    <span style='color: {{msg.payload.yellow}}; font-size: 50px;'>🟡</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1170,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "0fa1bc9174081cb1",
        "type": "debug",
        "z": "c599841496e8f323",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 160,
        "wires": []
    },
    {
        "id": "cc09a12a4c45ed91",
        "type": "inject",
        "z": "c599841496e8f323",
        "name": "Inject JSON",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"status\":{\"temperature\":20.125,\"light\":611,\"regul\":\"HEAT\",\"fire\":false,\"heat\":\"ON\",\"cold\":\"OFF\",\"fanspeed\":1234},\"location\":{\"room\":\"342\",\"gps\":{\"lat\":43.62453842,\"lon\":7.050628185},\"address\":\"Les lucioles\"},\"regul\":{\"lt\":25,\"ht\":25.9},\"info\":{\"ident\":\"ESP32 123\",\"user\":\"SBD\",\"loc\":\"A Biot\"},\"net\":{\"uptime\":\"55\",\"ssid\":\"FreeBox\",\"mac\":\"AC:67:B2:37:C9:48\",\"ip\":\"192.0.0.1\"},\"reporthost\":{\"target_ip\":\"127.0.0.1\",\"target_port\":1880,\"sp\":2}}",
        "payloadType": "str",
        "x": 150,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "225623c4d332fe0f",
        "type": "function",
        "z": "c599841496e8f323",
        "name": "Control LEDs",
        "func": "var ledStatus = global.get('ledStatus') || { red: 'gray', green: 'gray', yellow: 'gray' };\n\nif (msg.topic === \"led_red\") {\n    ledStatus.red = msg.payload === \"on\" ? \"red\" : \"gray\";\n}\nif (msg.topic === \"led_green\") {\n    ledStatus.green = msg.payload === \"on\" ? \"green\" : \"gray\";\n}\nif (msg.topic === \"led_yellow\") {\n    ledStatus.yellow = msg.payload === \"on\" ? \"yellow\" : \"gray\";\n}\n\nglobal.set('ledStatus', ledStatus);\nmsg.payload = ledStatus;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 280,
        "wires": [
            [
                "0e31faa25ac09b48",
                "9a68fea374177ee8"
            ]
        ]
    },
    {
        "id": "d3d653b77a2de4c2",
        "type": "ui_switch",
        "z": "c599841496e8f323",
        "name": "LED Rouge",
        "label": "Rouge",
        "tooltip": "",
        "group": "d6289712d0c7f988",
        "order": 1,
        "width": "",
        "height": "",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 970,
        "y": 460,
        "wires": [
            [
                "225623c4d332fe0f"
            ]
        ]
    },
    {
        "id": "3a89836607793907",
        "type": "ui_switch",
        "z": "c599841496e8f323",
        "name": "LED Verte",
        "label": "Verte",
        "tooltip": "",
        "group": "d6289712d0c7f988",
        "order": 2,
        "width": "",
        "height": "",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1030,
        "y": 560,
        "wires": [
            [
                "225623c4d332fe0f"
            ]
        ]
    },
    {
        "id": "bf4b3fc35651e1a0",
        "type": "ui_switch",
        "z": "c599841496e8f323",
        "name": "LED Jaune",
        "label": "Jaune",
        "tooltip": "",
        "group": "d6289712d0c7f988",
        "order": 3,
        "width": "",
        "height": "",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1030,
        "y": 600,
        "wires": [
            [
                "225623c4d332fe0f"
            ]
        ]
    },
    {
        "id": "487bfc292acfcb45",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "61b3faa60c9888c9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "uptime",
        "format": "{{msg.payload.net.uptime}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "8f0f76bd31d8dba8",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "61b3faa60c9888c9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ssid",
        "format": "{{msg.payload.net.ssid}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "4ffcb2985a080a4c",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "61b3faa60c9888c9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "mac",
        "format": "{{msg.payload.net.mac}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 460,
        "wires": []
    },
    {
        "id": "fe50d97306b61f10",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "61b3faa60c9888c9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ip",
        "format": "{{msg.payload.net.ip}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 500,
        "wires": []
    },
    {
        "id": "dc614ea00c8a4275",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "9cb3f7715d089722",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ident",
        "format": "{{msg.payload.info.ident}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 580,
        "wires": []
    },
    {
        "id": "054512d2f5698479",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "9cb3f7715d089722",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "user",
        "format": "{{msg.payload.info.user}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 620,
        "wires": []
    },
    {
        "id": "ffb99db20a96c42a",
        "type": "ui_template",
        "z": "c599841496e8f323",
        "group": "61b3faa60c9888c9",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<style>\n  /* Général */\n  body {\n    background-color: #2C2C2C !important; /* Fond sombre pour un look moderne */\n    color: #FFFFFF !important; /* Texte en blanc pour le contraste */\n    font-family: Arial, sans-serif !important;\n  }\n\n  /* Titres */\n  h1, h2, h3, h4, h5, h6 {\n    color: #FFD700 !important; /* Doré pour un effet premium */\n  }\n\n  /* Cartes (md-card) */\n  .nr-dashboard-theme md-card {\n    background-color: #3A3A3A !important; /* Fond gris foncé */\n    color: #FFFFFF !important; /* Texte blanc */\n    border-radius: 10px !important; /* Coins arrondis pour un look moderne */\n    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5) !important; /* Ombre subtile */\n  }\n\n  /* Barres d'outils */\n  .nr-dashboard-theme md-toolbar {\n    background-color: #1E1E1E !important; /* Couleur plus sombre pour la barre */\n    color: #FFD700 !important;\n    font-weight: bold !important;\n  }\n\n  /* Titres des cartes */\n  .nr-dashboard-theme .nr-dashboard-cardtitle {\n    color: #FFD700 !important; /* Doré */\n    font-weight: bold !important;\n    text-transform: uppercase !important;\n  }\n\n  /* Boutons */\n  .nr-dashboard-theme button {\n    //background-color: #FFD700 !important; /* Boutons dorés */\n    color: #FFD700 !important;\n    border-radius: 5px !important;\n    font-weight: bold !important;\n  }\n\n  /* Champs de saisie */\n  .nr-dashboard-theme input, \n  .nr-dashboard-theme select {\n    background-color: #3A3A3A !important;\n    color: #FFD700 !important;\n    border: 1px solid #FFD700 !important;\n  }\n\n  /* Température (ou autres widgets spécifiques) */\n  .nr-dashboard-theme .temp-widget {\n    background-color: #cbcbcb !important;\n    color: black !important;\n    padding: 10px !important;\n    border-radius: 5px !important;\n  }\n\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "<style>   body { background-color: grey !important; h1-color: white !important; }   .nr-dashboard-theme md-card { background-color: white!important; }   .nr-dashboard-theme md-toolbar { background-color: #cbcbcb !important; }   .nr-dashboard-theme .nr-dashboard-cardtitle { color: white !important; }   .nr-dashboard-theme Temp { background-color: #cbcbcb !important;} </style>",
        "x": 260,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d0845f26dd0fac8b",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "9cb3f7715d089722",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "loc",
        "format": "{{msg.payload.info.loc}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 660,
        "wires": []
    },
    {
        "id": "c40c7cbbc28ae858",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "ec623adce08e8dca",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "target_ip",
        "format": "{{msg.payload.reporthost.target_ip}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 720,
        "wires": []
    },
    {
        "id": "4756dd189f88a7c0",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "ec623adce08e8dca",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "target_port",
        "format": "{{msg.payload.reporthost.target_port}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 760,
        "wires": []
    },
    {
        "id": "0160c8207a1a151f",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "ec623adce08e8dca",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "sp",
        "format": "{{msg.payload.reporthost.sp}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 800,
        "wires": []
    },
    {
        "id": "2659f72e96e4ca13",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "f32ce305fef6b2e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "temperature",
        "format": "{{msg.payload.status.temperature}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 330,
        "y": 480,
        "wires": []
    },
    {
        "id": "69cd750f904ca39e",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "f32ce305fef6b2e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "light",
        "format": "{{msg.payload.status.light}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 310,
        "y": 520,
        "wires": []
    },
    {
        "id": "67e39083f56fa2ea",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "f32ce305fef6b2e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "regul",
        "format": "{{msg.payload.status.regul}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 310,
        "y": 560,
        "wires": []
    },
    {
        "id": "c10fa251edf1394a",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "f32ce305fef6b2e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fire",
        "format": "{{msg.payload.status.fire}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 310,
        "y": 600,
        "wires": []
    },
    {
        "id": "236d4eead669b2ca",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "f32ce305fef6b2e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "heat",
        "format": "{{msg.payload.status.heat}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 310,
        "y": 640,
        "wires": []
    },
    {
        "id": "59c6197c270cd93e",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "f32ce305fef6b2e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "cold",
        "format": "{{msg.payload.status.cold}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 310,
        "y": 680,
        "wires": []
    },
    {
        "id": "c879616069afa7c2",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "f32ce305fef6b2e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fanspeed",
        "format": "{{msg.payload.status.fanspeed}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 320,
        "y": 720,
        "wires": []
    },
    {
        "id": "f59447dae0ec4971",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "2caf788a9887da1b",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "room",
        "format": "{{msg.payload.location.room}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "a8c65bccc85c5b65",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "2caf788a9887da1b",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "GPS latitude",
        "format": "{{msg.payload.location.gps.lat}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 440,
        "wires": []
    },
    {
        "id": "eab1b5edbf39feb2",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "2caf788a9887da1b",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "GPS longitude",
        "format": "{{msg.payload.location.gps.lon}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 720,
        "y": 480,
        "wires": []
    },
    {
        "id": "419e43245ee3bbb3",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "2caf788a9887da1b",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "address",
        "format": "{{msg.payload.location.address}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "8eee11bf45b63c92",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "dbcbe87eb5665f88",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "lt",
        "format": "{{msg.payload.regul.lt}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "5859d8704d745b1a",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "dbcbe87eb5665f88",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ht",
        "format": "{{msg.payload.regul.ht}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 640,
        "wires": []
    },
    {
        "id": "9a68fea374177ee8",
        "type": "serial out",
        "z": "c599841496e8f323",
        "name": "out",
        "serial": "bf41b56857b86ce2",
        "x": 1490,
        "y": 320,
        "wires": []
    },
    {
        "id": "0e31faa25ac09b48",
        "type": "debug",
        "z": "c599841496e8f323",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 460,
        "wires": []
    },
    {
        "id": "7f250f96ae5073d5",
        "type": "ui_slider",
        "z": "c599841496e8f323",
        "name": "",
        "label": "Ventilateur",
        "tooltip": "",
        "group": "8bbcfa341ae69018",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 830,
        "y": 740,
        "wires": [
            [
                "097eebe05b3cd7eb"
            ]
        ]
    },
    {
        "id": "99927279c48e342e",
        "type": "serial out",
        "z": "c599841496e8f323",
        "name": "out",
        "serial": "bf41b56857b86ce2",
        "x": 1230,
        "y": 720,
        "wires": []
    },
    {
        "id": "ec6d3d7b556893cf",
        "type": "ui_slider",
        "z": "c599841496e8f323",
        "name": "",
        "label": "Temperature Max",
        "tooltip": "",
        "group": "f84cf843c9835253",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 830,
        "y": 900,
        "wires": [
            [
                "0cc389d1fd74b6a6",
                "da66589f0e19c0ef"
            ]
        ]
    },
    {
        "id": "5052356f799c0206",
        "type": "ui_slider",
        "z": "c599841496e8f323",
        "name": "",
        "label": "Temperature Min",
        "tooltip": "",
        "group": "f84cf843c9835253",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 810,
        "y": 980,
        "wires": [
            [
                "29d0dfe3b0b71f45",
                "1d3cca2ae2c31fe6"
            ]
        ]
    },
    {
        "id": "097eebe05b3cd7eb",
        "type": "function",
        "z": "c599841496e8f323",
        "name": "function 1",
        "func": "msg.payload = { venti: msg.payload };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 780,
        "wires": [
            [
                "99927279c48e342e"
            ]
        ]
    },
    {
        "id": "29d0dfe3b0b71f45",
        "type": "function",
        "z": "c599841496e8f323",
        "name": "lt",
        "func": "msg.payload = { lt: msg.payload };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 960,
        "wires": [
            [
                "99927279c48e342e"
            ]
        ]
    },
    {
        "id": "0cc389d1fd74b6a6",
        "type": "function",
        "z": "c599841496e8f323",
        "name": "ht",
        "func": "msg.payload = { ht: msg.payload };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 900,
        "wires": [
            [
                "99927279c48e342e"
            ]
        ]
    },
    {
        "id": "8e4ee666ebf97193",
        "type": "serial in",
        "z": "c599841496e8f323",
        "name": "",
        "serial": "bf41b56857b86ce2",
        "x": 1180,
        "y": 1060,
        "wires": [
            [
                "e5f0a05cbd81367f"
            ]
        ]
    },
    {
        "id": "e5f0a05cbd81367f",
        "type": "debug",
        "z": "c599841496e8f323",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 1060,
        "wires": []
    },
    {
        "id": "da66589f0e19c0ef",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "dashboard_status",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "HT",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 990,
        "y": 1180,
        "wires": []
    },
    {
        "id": "1d3cca2ae2c31fe6",
        "type": "ui_text",
        "z": "c599841496e8f323",
        "group": "dashboard_status",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LT",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 990,
        "y": 1220,
        "wires": []
    },
    {
        "id": "bf41b56857b86ce2",
        "type": "serial-port",
        "name": "port esp",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "9bdad9c3cef85455",
        "type": "ui_group",
        "name": "Capteurs",
        "tab": "dashboard_main",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8bbcfa341ae69018",
        "type": "ui_group",
        "name": "Capteurs",
        "tab": "dashboard_main",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f84cf843c9835253",
        "type": "ui_group",
        "name": "Capteurs",
        "tab": "dashboard_main",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dashboard_status",
        "type": "ui_group",
        "name": "Status",
        "tab": "dashboard_main",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d6289712d0c7f988",
        "type": "ui_group",
        "name": "test",
        "tab": "dashboard_main",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "61b3faa60c9888c9",
        "type": "ui_group",
        "name": "net",
        "tab": "3ef6859be12afc2c",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9cb3f7715d089722",
        "type": "ui_group",
        "name": "info",
        "tab": "3ef6859be12afc2c",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ec623adce08e8dca",
        "type": "ui_group",
        "name": "reporthost",
        "tab": "3ef6859be12afc2c",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f32ce305fef6b2e7",
        "type": "ui_group",
        "name": "status",
        "tab": "3ef6859be12afc2c",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2caf788a9887da1b",
        "type": "ui_group",
        "name": "location",
        "tab": "3ef6859be12afc2c",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dbcbe87eb5665f88",
        "type": "ui_group",
        "name": "regul",
        "tab": "3ef6859be12afc2c",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dashboard_main",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "3ef6859be12afc2c",
        "type": "ui_tab",
        "name": "Network informations",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]